<div class="information-cards-wrapper">

  <div class="cards" style="background: rgb(30,87,116);
  background: linear-gradient(90deg, rgb(135, 191, 219) 0%, rgba(155,82,186,1) 100%);">
    <div class="info">
      <span>{{currentVisitor}}</span>
      <p>Current Visitors</p>
    </div>
  </div>

  <div class="cards" style="background: rgb(30,87,116);
  background: linear-gradient(90deg, rgb(178, 227, 252) 0%, rgb(15, 96, 189) 100%);">
    <div class="info">
      <span>{{totalVisitors}}</span>
      <p>Total Visitors</p>
    </div>
  </div>

  <div class="cards" style="background: rgb(133,194,50);
  background: linear-gradient(90deg, rgba(133,194,50,1) 0%, rgba(46,235,198,1) 100%);">
    <div class="info">
      <span>{{totalCheckouts}}</span>
      <p>Total Checkouts</p>
    </div>
  </div>

  <div class="cards" style="background: rgb(235,195,130);
  background: linear-gradient(90deg, rgb(219, 192, 148) 0%, rgba(227,32,26,1) 100%);">
    <div class="info">
      <span>&#x20b9;{{totalAmount}}</span>
      <p>Total Sales</p>
    </div>
  </div>
</div>