<div class="information-cards-wrapper">

  <div class="cards" style="background-color:#F5AF22;">
    <div class="info">
      <span>{{countUpdt}}</span>
      <p>Unique Visitors</p>
    </div>
  </div>

  <div class="cards" style="background-color:#0A7878;">
    <div class="info">
      <span>{{countUpdt1}}</span>
      <p>Unique Checkouts</p>
    </div>
  </div>

  <div class="cards" style="background-color:#6A5F8F;">
    <div class="info">
      <span>&#x20b9;{{countUpdt2}}</span>
      <p>Total Sales</p>
    </div>
  </div>
</div>