<side-nav></side-nav>
<div style="background-color: #eeeeee52;">
  <div class=wrapper>
    <information-cards></information-cards>
  </div>

  <div class="chart-wrapper">
    <div class="info-center">
      <p>Checkout Wait Time</p>
      <div class="wait-time-wrapper">
        <div class="card"
        *ngFor="let i of posWaitTime">
        <span>POS {{i.posid}} : {{i.waittime}}</span>
        </div>
      </div>


      <!-- <p>Latest POS Sales Amount</p>
      <div class="latest-pos-sales">
        <div class="sales-data"><span>12,000</span></div>
        <div class="sales-data"><span>2,000</span></div>
        <div class="sales-data"><span>1,500</span></div>
        <div class="sales-data"><span>1,500</span></div>
        <div class="sales-data"><span>1,567</span></div>
      </div>  
    </div> -->

   
  </div>
  </div>

  <div class="donut-chart" style="display:flex; margin-top: 3vw; justify-content: space-between">

    <div style="width:fit-content; text-align: center;">
        <donut-chart></donut-chart>
    </div>

  </div>
 
<div class="bar-chart-wrapper">
    <charts></charts>
</div>



<router-outlet></router-outlet>
