side-nav{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
 }
 .wrapper{
     margin-left: 100px;
     display: flex;
     flex-wrap:wrap;
 
     information-cards{
         flex: 1;
     }
 }
 
 #last-chart{
     margin: 0;
 }

 .chart-wrapper{
     display: flex;
     flex-direction: row;
     margin-left: 130px;
     align-items: center;
     justify-content: center;

     donut-chart{
        width: 43%;
        height:100px;
     }

     charts {
         position: absolute;
         left: 60vw;
         width: 35%;
         margin-top: 12vw;
     }
 }

 .bar-chart-wrapper{
     display: flex;
     flex-direction: row;
     margin-left: 8vw;
     margin-right: 2vw;
     justify-content: space-between;
     position: absolute;
     top: 35vw;
     
     charts:last-of-type{
        margin-left: 7vw;
     }
 }