<side-nav></side-nav>
<div>
  <div class=wrapper>
    <information-cards></information-cards>
  </div>

  <div class="chart-wrapper">
    <div class="info-center">
      <p>Current POS Data</p>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Transaction ID</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>

        </tbody>
      </table>

    </div>

    <donut-chart></donut-chart>
  </div>

<div class="bar-chart-wrapper">
    <charts></charts>
</div>
</div>


<router-outlet></router-outlet>
