<side-nav></side-nav>
<div>
  <div class=wrapper>
    <information-cards></information-cards>
  </div>

  <div class="chart-wrapper">
    <div class="info-center">
      <p>Checkout Wait Time</p>
      <div class="wait-time-wrapper">
        <div class="card" style="background-color:rgb(230, 214, 79);"><span>POS 1 : 12 mins</span></div>
        <div class="card" style="background-color:rgb(137, 163, 41);"><span>POS 2 : 10 mins</span></div>
        <div class="card" style="background-color:rgb(218, 208, 80);"><span>POS 3 : 12 mins</span></div>
        <div class="card" style="background-color:rgb(172, 71, 71); "><span>POS 4 : 15 mins</span></div>
        <div class="card" style="background-color:rgb(172, 71, 71); "><span>POS 5 : 17 mins</span></div>
      </div>


      <!-- <p>Latest POS Sales Amount</p>
      <div class="latest-pos-sales">
        <div class="sales-data"><span>12,000</span></div>
        <div class="sales-data"><span>2,000</span></div>
        <div class="sales-data"><span>1,500</span></div>
        <div class="sales-data"><span>1,500</span></div>
        <div class="sales-data"><span>1,567</span></div>
      </div>  
    </div> -->

   
  </div>
  </div>

  <div class="donut-chart" style="display:flex; margin-top: 3vw; justify-content: space-between">

    <div style="width:45vw; text-align: center;">
        <donut-chart></donut-chart>

        <div class="donut-legend">
            <ul>
              <li>Total Sales</li>
              <li>Current Visitors</li>
              <li>Total Visitors</li>
            </ul>
          </div>
            
    </div>

    
    <div style="width:45vw;">
        <donut-chart></donut-chart>
    </div>
  </div>
 
<div class="bar-chart-wrapper">
    <charts></charts>
</div>



<router-outlet></router-outlet>
