canvas{
    -webkit-animation: rotation 50s infinite linear;

    @-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(359deg);
		}
		to {
				-webkit-transform: rotate(0deg);
		}
    }

    p{
        position: relative;
        display: block;
    }
 }