<div style="display: flex; justify-content: space-between;">

  <div>
    <mat-form-field>
      <mat-select placeholder="Choose Period" [(ngModel)]="selectedValue" name="item" (selectionChange)=changeGran($event)>
        <mat-option *ngFor="let i of period" [value]="i.value">{{i.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>


    <p style="font-size: 15px;">Granularity : <strong style="color: rgb(182, 65, 56);">{{selectedValue}}</strong>
    </p>

    <p id="chart-label">Visitor Count By Proximity</p>
    <div class="chart-container">
      <canvas *ngIf="chartData" baseChart [chartType]="chartType" [data]="chartData" [labels]="chartLabels" [options]="chartOptions"
        [colors]="colorOptions" style="margin-top: 3em;">
      </canvas>
    </div>

  </div>




  <div>
    <div style="height:105px;">

    </div>

    <p id="chart-label">Visitor Count By Camera</p>
    <div class="chart-container" id="last-container">
      <canvas *ngIf="chartData" baseChart [chartType]="chartType2" [data]="chartData2" [labels]="chartLabels2"
        [options]="chartOptions2" [colors]="colorOptions2" style="margin-top: 3em;">
      </canvas>
    </div>
  </div>
</div>
